In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [17]:
lenght = [10, 20, 14, 55, 43, 87, 76]
num = len(lenght)
print("Number of item in the List2:",num)

Number of item in the List2: 7

In [22]:
print("Artificial Intelligence")
word = "Artificial Intelligence"
for char in word:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [54]:
for char in ("-Your Name-","-Your Age-","-Your Profession-"):
    print(char)

-Your Name-
-Your Age-
-Your Profession-

In [25]:
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [26]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'Hope')
tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'Hope'))

In [45]:
for odd in (20,10,16,19,25,1,276,188):
    if(odd % 2 == 1):
         print(odd,"is odd")

19 is odd
25 is odd
1 is odd

In [47]:
for even in (20,10,16,19,25,1,276,188):
    if(even % 2 == 0):
         print(even,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even